<nav class="nav flex-column">
    <a class="nav-link {{#if (eq currentPage 'dashboard')}}active{{/if}}" href="/{{model.modelSlug}}/crm/dashboard">
        <i class="fas fa-tachometer-alt"></i>
        Dashboard
    </a>
    <a class="nav-link {{#if (eq currentPage 'clients')}}active{{/if}}" href="/{{model.modelSlug}}/crm/clients">
        <i class="fas fa-users"></i>
        Clients
    </a>
    <a class="nav-link {{#if (eq currentPage 'visits')}}active{{/if}}" href="/{{model.modelSlug}}/crm/visits">
        <i class="fas fa-calendar-check"></i>
        Visits
    </a>
    <a class="nav-link {{#if (eq currentPage 'financial')}}active{{/if}}" href="/{{model.modelSlug}}/crm/financial">
        <i class="fas fa-chart-line"></i>
        Financial
    </a>
    <a class="nav-link {{#if (eq currentPage 'screening')}}active{{/if}}" href="/{{model.modelSlug}}/crm/screening">
        <i class="fas fa-shield-alt"></i>
        Screening
    </a>
    <a class="nav-link {{#if (eq currentPage 'settings')}}active{{/if}}" href="/{{model.modelSlug}}/crm/settings">
        <i class="fas fa-cog"></i>
        Settings
    </a>
    
    <hr class="my-3" style="border-color: rgba(255,255,255,0.2);">
    
    <a class="nav-link {{#if (eq currentPage 'test')}}active{{/if}}" href="/{{model.modelSlug}}/crm/test">
        <i class="fas fa-vial"></i>
        Test Page
    </a>
    <a class="nav-link" href="/{{model.modelSlug}}/admin">
        <i class="fas fa-external-link-alt"></i>
        Admin Panel
    </a>
    <a class="nav-link" href="/{{model.modelSlug}}/crm/logout">
        <i class="fas fa-sign-out-alt"></i>
        Logout
    </a>
</nav>
