<nav class="royal-nav">
    <div class="royal-nav-container">
        <a href="/" class="royal-logo">
            {{> universal-icon name="crown" class="royal-icon"}}
            {{siteName}}
        </a>
        
        <ul class="royal-nav-menu">
            <li><a href="/{{modelSlug}}{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'home')}}active{{/if}}">Home</a></li>
            <li><a href="/{{modelSlug}}/about{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'about')}}active{{/if}}">About</a></li>
            <li><a href="/{{modelSlug}}/gallery{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'gallery')}}active{{/if}}">Gallery</a></li>
            <li><a href="/{{modelSlug}}/rates{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'rates')}}active{{/if}}">Rates</a></li>
            <li><a href="/{{modelSlug}}/etiquette{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'etiquette')}}active{{/if}}">Etiquette</a></li>
            <li><a href="/{{modelSlug}}/calendar{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'calendar')}}active{{/if}}">Calendar</a></li>
            <li><a href="/{{modelSlug}}/contact{{previewParam}}" class="royal-nav-link {{#if (eq pageType 'contact')}}active{{/if}}">Contact</a></li>
        </ul>
    </div>
</nav>